__pycache__
*.pyc
experiments/face_keypoints_dataset/train.log
runs/
teachers/CenterNet/results/
*.pkl
**/**/*.pkl
*.pth

teachers/mmdetection
teachers/model_zoo
teachers/mmdetection/*
*.ipynb
.ipynb_checkpoints
