__pycache__
*.pyc
experiments/face_keypoints_dataset/train.log
runs/
models/CenterNet/results/
*.pkl
**/**/*.pkl
*.pth

models/mmdetection
models/model_zoo
models/mmdetection/*
*.ipynb
.ipynb_checkpoints
